a:hover{
    text-decoration: none;
}
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
.cakes img{
    transition: 0.5s;
}
.cakes:hover img{
    filter: saturate(160%);
}
.display-6{
    font-size: 25px;
}
.headline-container{
    padding: 1em 10em;
}
.headline{
    text-align: center;
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 15px;
    margin: 0px;
    background-color: #343a404d;
}
.days-in-auc{
    font-size: 12px;
}
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  outline: 1px solid #007bff;
}
.cart-img{
    width: 60px;
    height: auto;
}
.cart-table{
    border: 1px solid black;
    text-align: center;
    width: 100%;
}
.cart-table td, .cart-table tr, .cart-table th{
    border: 1px solid black;
    padding: 10px;
}
.del-from-cart{
    background-color: transparent;
    border:none;
    outline: none;

}
.del-from-cart:hover{
    color: #007bff;
}

.cake-filling-des {
    display: none;
}
.cake-filling-des_show {
    display: block;
    animation-name: cake-filling-des_show;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes cake-filling-des_show {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.cake-filling-lbl {
    position: relative;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.cake-filling-lbl:hover {
    z-index: 10;
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.cake-single-img {
    animation-name: cake-img-zoom;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes cake-img-zoom {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.add_cart_anim {
    animation-name: add_cart_anim;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes add_cart_anim {
    from {
        opacity: 0;
        transform: scale(2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.order-step {
    color: #ebe5ea;
    background-color: #343a40;
}

.user_incart {
    padding: 0;
}

.user_incart li {
    list-style-type: none;
    border-bottom: 1px black solid;
    padding: 10px 10px;
}
.logout {
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border: none;
}
.secondary-menu{
    position:absolute;
    top: 80%;
    background: #343a40;
    display:none;
    min-width:250%;
}
.d-or-not{
    position:relative;
}
.d-or-not:hover .secondary-menu{
    display:block;
}
.category-card-list li.active {
    background-color: #28a745;
    border: none;
}
.category-card-list li.active a {
    color: #fff!important;
}

.auction-product-img img {
    max-width: 100%;
}

.auction-product {
    margin-bottom: 20px;
    margin-top: 20px;
}

.bids {
    margin-bottom: 20px;
    margin-top: 20px;
}
#time-down-counter .item-counter-down-0 {
    position: relative;
}
#time-down-counter .item-counter-down-0:after {
    content: "Дней";
    display: block;
    position: absolute;
    bottom: 6px;
    left: 0px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #000;
}

#time-down-counter .item-counter-down-1 {
    position: relative;
}
#time-down-counter .item-counter-down-1:after {
    content: "Часов";
    display: block;
    position: absolute;
    bottom: 6px;
    left: 0px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #000;
}

#time-down-counter .item-counter-down-2 {
    position: relative;
}
#time-down-counter .item-counter-down-2:after {
    content: "Минут";
    display: block;
    position: absolute;
    bottom: 6px;
    left: 0px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #000;
}

#time-down-counter .item-counter-down-3 {
    position: relative;
}
#time-down-counter .item-counter-down-3:after {
    content: "Секунд";
    display: block;
    position: absolute;
    bottom: 6px;
    left: 0px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #000;
}


.catOnMain-title {
    font-size: 18px;
}

.catOnMain-item .card-body {
    padding: 15px 5px;
}

.catOnMain-item img {
    min-height: 285px;
}
.onMain .item-counter-down {
    font-size: 18px!important;

}
.onMain .item-counter-down>span{
    font-size: 18px;!important;
}

.categoryOnMain img {
    object-fit: cover;
    height: 265px;
}

.categoryOnMain .card-body {
    padding: 10px 8px;
}

.categoryOnMain .card-title {
    font-size: 18px;
}

.categoryIn img {
    height: 400px;
    object-fit: cover;
}

main {
    min-height: calc(100vh - 271px);
}

.personal-btn {
    width: 110px;
}